# Secrets / credentials
#config/credentials.yaml

# Output files (results, backups, etc.)
output/

# Old backup scripts or deprecated code
old/

# log outputs is removed
logs/debug.log
logs/error.log
logs/info.log

# Python virtual environment
.venv/

# Bytecode and cache
__pycache__/
*.pyc

